<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--https://bootswatch.com/flatly/-->
    <link href="https://bootswatch.com/5/flatly/bootstrap.min.css" rel="stylesheet">
    <title>Matex Application</title>
</head>
<body>
    {% include 'matex_app/navigation.html'  %}
    {% block content %}
    {% endblock content %}
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"></script>
</body>
</html>

